body {
    background-color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    text-align: center;
}

ul {
    list-style-type: none;
}

a:link{
    color: darkmagenta;
}
a:hover{
    color: red;
}

a:visited{
    color: pink;
}

a:active{
    color: red;
}

a:visited:hover{
    color: red;
}
