body {
  background-color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(1, 300px);
  justify-content: center;
  text-align: center;
}
.wrapper2 {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 300px);
  justify-content: center;
}

#item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

#item0 {
  background-color: deeppink;
}

#item2 {
  background-color: deeppink;
}
#item3 {
  background-color: deeppink;
}
#item4 {
  background-color: deeppink;
}
#item5 {
  background-color: deeppink;
}
#item6 {
  background-color: deeppink;
}

#item7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#item8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#item9 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
